Source: ofono-binder-plugin-ext-qti
Section: libs
Priority: optional
Maintainer: Cédric Bellegarde <cedric.bellegarde@adishatz.org>
XS-Droidian-Extra-Repos: deb http://droidian.g.droidian.org/next-upgrade-gbinder/ trixie main
Build-Depends: debhelper-compat (= 12),
               libglib2.0-dev (>= 2.0),
               libglibutil-dev,
               libgbinder-dev,
               libgbinder-radio-dev,
               ofono-dev (>= 1.29),
               libofonobinderpluginext-dev,
Standards-Version: 3.8.4

Package: ofono-binder-plugin-ext-qti
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: qti IRadio extension for ofono-binder-plugin
 Extends ofono-binder-plugin to interface with IMS
 implementation on devices that provide qtiRadioExt.
